<app-divider>
    Modal Component
</app-divider>
<button class="ui green button" (click)="onChangeModal()">Show Modal</button>
<app-modal *ngIf="showModal" (onClose)="onChangeModal()" [isExistFooter]="true" [defaultButton]="true">
    <modal-header>
        <h2>Modal header</h2>
    </modal-header>
    <modal-content>
        <h3>This is content.</h3>
    </modal-content>
    <modal-footer>
        <button class="ui button" (click)="onChangeModal()">Cancel</button>
    </modal-footer>
</app-modal>

<app-divider>
    Accordion Component
</app-divider>
<app-accordion [items]="items"></app-accordion>