
<div (click)="OnCloseClick()"  class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="close icon" (click)="OnCloseClick()"></i>
        <div class="header">
           <ng-content select="modal-header"></ng-content>
        </div>
        <div class="content">
            <ng-content select="modal-content"></ng-content>
        </div>
        <div class="actions actions-default" *ngIf="isExistFooter">
            <button *ngIf="defaultButton" class="ui button" (click)="OnCloseClick()">OK</button>
            <ng-content  select="modal-footer"></ng-content>
        </div>
    </div>
</div>